.book-viewport{
	position: fixed;
	top:0;
	width:100%;
	height:600px;
	min-width:1100px;
	padding-top:20px;
	padding-bottom:20px;
	background: rgba(33,33,33,0.95);
	color:#000;
	font-size:15px;
	z-index:990;
}
.instructions{
	font-size:13px;
	text-align:center;
	padding:10px;
	color: #fff;
}
.book-hide{
	color: #fff;
	position:absolute;
	top:10px;
	right:10px;
	cursor: pointer;
}
.container{
	width:922px;
	margin:auto;
	position:relative;
}

.flipbook .shadow{
	box-shadow:	0 4px 10px #666;
}
.page{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.page p {
	margin:30px;
	font-size:25px;
}
.flipbook .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}
.flipbook .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}
.flipbook .p1{
	background: #fff;
}
.flipbook .rules{
	/*margin:15px;*/
	font-size: 15px;
}
.flipbook .heading{
	color:#2e7d32;
}
.flipbook .sub-heading{
	color:#2e7d32;
	font-size: 20px;
}
.flipbook p {
	font-size: 20px;
	/*border: 1px solid #000;*/
}
.flipbook ul{
	list-style: none;
}
.flipbook ul li {
	margin-left: 30px;
	margin-right: 20px;
}

.flipbook ol li  {
	margin-left: 20px;
	margin-right: 20px;
}
.flipbook .contacts{
	font-size: 20px;
}
.flipbook .quotes{
	color:#2e7d32;
	font-size:30px;

}
.flipbook .Prize{
  color:#2e7d32 ;
  font-size:30px;
  font-weight: 500;
}
