body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 300;
    padding: 0;
}

.nav-bar-button {
    right: 10%;
    top: 45px;
    z-index: 950;
}

.imagewrapper {
    position: static;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 100%;
}

.cover {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: url(../images/asdf.jpg) no-repeat center fixed;*/
    background-size: 100% 100%;
}

.fixed {
    position: fixed;
    z-index: 5;
}

.fullwidth {
    width: 100%;
}
.textanimation {
    width: 100%;
    z-index: 3;
    font-weight: 200;
    font-size: 40px;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
}

.textanimation-logo {
    height: 210px;
    width: 230px;
    z-index: 1;
}

footer {
    color: #fff;
    font-size: 15px;
    min-height: 40px;
    position: relative;
    margin-bottom: 0;
}
footer img {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.synergy-workshops,
.synergy-events,
.synergy-sponsors {
    font-size: 20px;
    margin: 25px;
    border-radius: 5px;
    border: 1px solid #2e7d32;
}

.synergy-workshops-list li{
  cursor: pointer;
}

section .header {
    font-size: 40px;
}
section .sub-header {
    font-size: 25px;
}
.events {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
.events li {
    float:left;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 7px #555;
    margin: 20px 30px 0 30px;
}

.events-li img{
    height: 60%;
    width: 100%;
    border-radius: 3px 3px 0 0;

}

.go-down{
    cursor:pointer;
}
.synergy-workshops-list div {
    line-height: 40px;
    font-size: 20px;
}
.synergy-workshops-info{
    margin-top: 20px;
    border: 1px solid #2e7d32;
    border-radius: 5px;
    margin-left: 40px;
}
.right-border{
  border-right: 1px solid #2e7d32;
}
.left-border{
  border-left: 1px solid #2e7d32;
}
.deregister{
  color:#ffffff    ;
}
.gl{
  margin:20px;
}
.registration{
  cursor:pointer;
}
.copyright{
  font-size:11px;
}
.campus-ambassador-reg{
  color:black;
  position: fixed;
  width: 100%;
  z-index: 900;
  background:rgba(255,255,255,1);
}
.campus-ambassador-reg .book-hide{
  color: #000;
}
.campus-ambassador-reg .container{
  border-radius: 5px;
  border: 1px solid #2e7d32;
  padding:20px;
  top:30px;
}
.ca-status{
  font-size: 20px;
  font-weight: 400;
}
.success{
  color:#2e7d32;
}
.error{
  color:#ef5350;
}
.select-group-id{
  color:black;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background:rgba(255,255,255,1);
}
.select-group-id .container{
  border-radius: 5px;
  border: 1px solid #2e7d32;
  padding:20px;
  top:30px;
}
.select-group-id .book-hide{
  color: #000;
  cursor: pointer;
}
.chip{
  cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
section div {
  /*border: 1px solid #000;*/
}
